<!DOCTYPE html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{{ page_description | escape }}" />
    <link rel="canonical" href="{{ canonical_url }}" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    {{
      content_for_header
    }}
    <!-- Bootstrap CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Google Font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap"
      rel="stylesheet"
    />
    <!-- Header hook for plugins -->
    {{
      "application.scss.css" | asset_url | stylesheet_tag
    }}
    <!-- Common Script -->
    {{
      "shopify-app.js" | asset_url | script_tag
    }}
    <!-- Product Script -->
    {% if template == "product" %}
    {{
      "product.js" | asset_url | script_tag
    }}
    {% endif %}
    <!-- Cart Script -->
    {% if template == "cart" %}
    {{
      "cart-page.js" | asset_url | script_tag
    }}
    {% endif %}
    {{
      "application.js" | asset_url | script_tag
    }}
  </head>
  <body>
    {% section 'navigation' %}
    <div class="container">
      <main role="main">
        {{ content_for_layout }}
      </main>
      {% if template == 'product' %} {% section 'modal' %} {% endif %}
    </div>
  </body>
</html>
